@charset "UTF-8";

:root{
    --cor-linearGradiente1: rgb(0,41,80);
    --cor-linearGradiente2: rgb(11, 137, 255);
    --cor-header-footer: rgb(1, 30, 58);
}

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 99vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 241, 244);
    font-size: 1em;
}

header {
    background-image: linear-gradient(90deg, var(--cor-linearGradiente1) 62%, var(--cor-linearGradiente2) 105%);
    color: white;
}

header h1 {
    text-align: center;
    padding: 10px;
}

header ul {
    background-color: var(--cor-header-footer);
}

header li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 18, 36);
}
header li.fleft{
    display: none;
}

i#menuItem {
    background-color: var(--cor-linearGradiente1);
    display: block;
    text-align: center;
}

i#menuItem:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}
menu li.clique{
    background-color:var(--cor-linearGradiente2);
}

main p {
    text-indent: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 90vw;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.203);
}

main h1,
h2 {
    margin: 5px 20px 10px 20px;
}

main>section>article>aside aside#lado {
    background-image: linear-gradient(180deg, var(--cor-linearGradiente1) 10%, var(--cor-linearGradiente2) 110%);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

main>section>article>aside aside#lado div#direito {
    width: 80%;
    max-width: 768px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main>section>article>aside aside#lado div#esquerdo {
    width: 100%;
    padding-top: 10px;
    color: white;
}


main>section>article>aside aside#lado img {
    width: 100%;
}



footer {
    width: 99vw;
    background-color: rgb(1, 30, 58);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}

footer>p {
    margin: 0px;
}

footer a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(10, 123, 253);
}