@charset "UTF-8";
:root{
    --font2: Sriracha, Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: PassionOne-Bold;
    src: url(font/PassionOne-Bold.otf);
}

html, body{
    min-height: 100vh;
    background-color: rgb(134, 134, 133);
}
*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}
/* header--------------- */
header {
    background-color: black;
    color: white;
    text-align: center;
}
header >h1{
    font-family: PassionOne-Bold, Ganeva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
    
}
header >P{
    padding-bottom: 50px;
}
header >a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: white;
}
/* main--------------- */
main{
    background-color: white;
}
/* section--------------- */
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--font2);
}
section.paragrafo{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
section.imagem{
    color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
    box-shadow: inset 0px 3px 20px black;
}
section#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;

}
section#img2{
    background-image: url(imagens/background002.jpg);
    background-position: left bottom;

}

section.paragrafo p{
    display: inline-block;
    font-family: var(--font2);
    line-height: 2;
}
section.imagem p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    font-family: var(--font2);
    padding: 5px;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

