@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
    margin: auto;
}
@font-face{
    font-family: idroid;
    src: url("fontes/idroid.otf");
    }
header{
    background-image: linear-gradient(180deg, #37C375, #237e4c, #1A5C38);
    padding: 10px;
    color: white;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
header >h1, p{
    text-align: center;
    margin-bottom: 0px;
}
.fixed{
    position: fixed;
    width: 100%;
    padding: 3px;
    background-color: #1a5c38;
    z-index: 1000;
    transition: top 0.3s; /* Adiciona uma transição suave */
    top: 0;
}
.normal{
    position: absolute;
    padding: 3px;
    background-color:#1a5c38;
    left: 0px;
    margin-left: 3px;
}
/* nav >a{
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
} */
/* nav >a:hover{
    text-decoration: underline;
    color: white;
    font-weight: bold;
} */
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #84E1AD;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color:#f1f1f1;
    color: rgb(0, 0, 0);
}

.navbar-inverse{
    background-color: #1a5c38;
    border: none;
    border-radius: 0px;
}
.navbar-inverse  .navbar-nav>li>a{
    color: white;
}
main{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 5px 10px #00000070;
}
main h1, h2{
    padding: 3px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: idroid,'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(90deg,#26ec7fad,#ffffff);
    color: #1A5C38;
}
main p{
    text-align:justify;
    text-indent: 1.5em;
}
section#img1{
    display: flex;
    justify-content: center;
}
picture ,aside#imgbugdroid{
    display: flex;
    justify-content: center;
}
aside > picture{
    display: flex;
    justify-content: center;
}
#divvideo{
    display: flex; 
    justify-content:center; 
    background-color: #1A5C38;
    padding: 30px;
    height: 400px;
    margin: auto;
}
#iframeVideo{
    width: 100%;
    height: 100%;
}
article#corpo{
    background-color: #84E1AD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
article#corpo p{
    padding: 10px;
    margin: 0px;
}
div#extra h3{
    background-color: #2da764;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}
div .flex{
    display: flex;
    justify-content: space-around;
}
aside#list1{
    width: 50%;
}
aside#list2{
    width: 50%;
}
footer{
    background-color:#1A5C38;
    color: white;
    text-align: center;
    padding: 7px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}