@charset "UTF-8";
/*First mobile */


*{
    padding: 0px;
    margin: 0px;    
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    height: 100vh;
}

body{
    background: rgb(255, 255, 255) url(../imagens/back-phone.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.77);
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.767);
}
section#fotos img{
    margin: auto;
}

img#phone{ display: block;}
img#tablet{ display: none;}
img#print{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}

